NET"j" IOSTANDARD = LVCMOS18 | LOC = T3;
NET"k" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"clk" IOSTANDARD = LVCMOS18 | LOC = R4;

NET"q" IOSTANDARD = LVCMOS18 | LOC = R1;
NET"qn" IOSTANDARD = LVCMOS18 | LOC = P2;

NET"j" CLOCK_DEDICATED_ROUTE = FALSE;
NET"k" CLOCK_DEDICATED_ROUTE = FALSE;

NET"j" PULLDOWN;
NET"k" PULLDOWN;
