NET"A[3]" IOSTANDARD = LVCMOS18 ;
NET"A[3]" LOC = T3;
NET"A[2]" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"A[1]" IOSTANDARD = LVCMOS18 | LOC = T4;
NET"A[0]" IOSTANDARD = LVCMOS18 | LOC = V3;
NET"B[3]" IOSTANDARD = LVCMOS18 | LOC = V4;
NET"B[2]" IOSTANDARD = LVCMOS18 | LOC = W4;
NET"B[1]" IOSTANDARD = LVCMOS18 | LOC = Y4;
NET"B[0]" IOSTANDARD = LVCMOS18 | LOC = Y6;
NET"Y[2]" IOSTANDARD = LVCMOS18 | LOC = R1;
NET"Y[1]" IOSTANDARD = LVCMOS18 | LOC = P2;
NET"Y[0]" IOSTANDARD = LVCMOS18 | LOC = P1;


NET"A[3]" PULLDOWN;
NET"A[2]" PULLDOWN;
NET"A[1]" PULLDOWN;
NET"A[0]" PULLDOWN;
NET"B[3]" PULLDOWN;
NET"B[2]" PULLDOWN;
NET"B[1]" PULLDOWN;
NET"B[0]" PULLDOWN;
