NET"clka" IOSTANDARD = LVCMOS18 | LOC = U17 | CLOCK_DEDICATED_ROUTE=FALSE;
NET"rst" IOSTANDARD = LVCMOS18 | LOC = U18 | CLOCK_DEDICATED_ROUTE=FALSE;
NET"choice[1]" IOSTANDARD = LVCMOS18 | LOC = R15;
NET"choice[0]" IOSTANDARD = LVCMOS18 | LOC = U16;

NET"ZF" IOSTANDARD = LVCMOS18 | LOC = U6;
NET"OF" IOSTANDARD = LVCMOS18 | LOC = R5; 

NET"AN[7]" IOSTANDARD = LVCMOS18 | LOC = C9;
NET"AN[6]" IOSTANDARD = LVCMOS18 | LOC = C10;
NET"AN[5]" IOSTANDARD = LVCMOS18 | LOC = D10;
NET"AN[4]" IOSTANDARD = LVCMOS18 | LOC = C11;
NET"AN[3]" IOSTANDARD = LVCMOS18 | LOC = M17;
NET"AN[2]" IOSTANDARD = LVCMOS18 | LOC = J14;
NET"AN[1]" IOSTANDARD = LVCMOS18 | LOC = K13;
NET"AN[0]" IOSTANDARD = LVCMOS18 | LOC = P14; 

NET"seg[7]" IOSTANDARD = LVCMOS18 | LOC = F14;
NET"seg[6]" IOSTANDARD = LVCMOS18 | LOC = N14;
NET"seg[5]" IOSTANDARD = LVCMOS18 | LOC = J13;
NET"seg[4]" IOSTANDARD = LVCMOS18 | LOC = G13;
NET"seg[3]" IOSTANDARD = LVCMOS18 | LOC = F13;
NET"seg[2]" IOSTANDARD = LVCMOS18 | LOC = G14;
NET"seg[1]" IOSTANDARD = LVCMOS18 | LOC = M13;
NET"seg[0]" IOSTANDARD = LVCMOS18 | LOC = H14;

NET"clk_in" IOSTANDARD = LVCMOS18 | LOC = E3;

NET"rst" PULLDOWN;
