NET"ds[3]" IOSTANDARD = LVCMOS18 | LOC = L21;
NET"ds[2]" IOSTANDARD = LVCMOS18 | LOC = M22;
NET"ds[1]" IOSTANDARD = LVCMOS18 | LOC = M21;
NET"ds[0]" IOSTANDARD = LVCMOS18 | LOC = N22;
NET"seg[7]" IOSTANDARD = LVCMOS18 | LOC = H19;
NET"seg[6]" IOSTANDARD = LVCMOS18 | LOC = G20;
NET"seg[5]" IOSTANDARD = LVCMOS18 | LOC = J22;
NET"seg[4]" IOSTANDARD = LVCMOS18 | LOC = K22;
NET"seg[3]" IOSTANDARD = LVCMOS18 | LOC = K21;
NET"seg[2]" IOSTANDARD = LVCMOS18 | LOC = H20;
NET"seg[1]" IOSTANDARD = LVCMOS18 | LOC = H22;
NET"seg[0]" IOSTANDARD = LVCMOS18 | LOC = J21;
NET"rst" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"clk" IOSTANDARD = LVCMOS18 | LOC = H4;
NET"stop" IOSTANDARD = LVCMOS18 | LOC = T3;

NET"rst" CLOCK_DEDICATED_ROUTE = FALSE;

NET"rst" PULLDOWN;
NET"stop" PULLDOWN;
