NET"A" IOSTANDARD = LVCMOS18 | LOC = T3;
NET"B" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"C" IOSTANDARD = LVCMOS18 | LOC = T4;
NET"D" IOSTANDARD = LVCMOS18 | LOC = V3;
NET"E" IOSTANDARD = LVCMOS18 | LOC = V4;
NET"Y" IOSTANDARD = LVCMOS18 | LOC = R1;

NET"A" PULLDOWN;
NET"B" PULLDOWN;
NET"C" PULLDOWN;
NET"D" PULLDOWN;
NET"E" PULLDOWN;
