NET"G1" IOSTANDARD = LVCMOS18 | LOC = T3;
NET"G2" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"G3" IOSTANDARD = LVCMOS18 | LOC = T4;
NET"A[2]" IOSTANDARD = LVCMOS18 | LOC = V3;
NET"A[1]" IOSTANDARD = LVCMOS18 | LOC = V4;
NET"A[0]" IOSTANDARD = LVCMOS18 | LOC = W4;
NET"Y[7]" IOSTANDARD = LVCMOS18 | LOC = R1;
NET"Y[6]" IOSTANDARD = LVCMOS18 | LOC = P2;
NET"Y[5]" IOSTANDARD = LVCMOS18 | LOC = P1;
NET"Y[4]" IOSTANDARD = LVCMOS18 | LOC = N2;
NET"Y[3]" IOSTANDARD = LVCMOS18 | LOC = M1;
NET"Y[2]" IOSTANDARD = LVCMOS18 | LOC = M2;
NET"Y[1]" IOSTANDARD = LVCMOS18 | LOC = L1;
NET"Y[0]" IOSTANDARD = LVCMOS18 | LOC = J2;


NET"G1" PULLDOWN;
NET"G2" PULLDOWN;
NET"G3" PULLDOWN;
NET"A[2]" PULLDOWN;
NET"A[1]" PULLDOWN;
NET"A[0]" PULLDOWN;
