NET"A[3]" IOSTANDARD = LVCMOS18 | LOC = T3;
NET"A[2]" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"A[1]" IOSTANDARD = LVCMOS18 | LOC = T4;
NET"A[0]" IOSTANDARD = LVCMOS18 | LOC = V3;
NET"B[3]" IOSTANDARD = LVCMOS18 | LOC = V4;
NET"B[2]" IOSTANDARD = LVCMOS18 | LOC = W4;
NET"B[1]" IOSTANDARD = LVCMOS18 | LOC = Y4;
NET"B[0]" IOSTANDARD = LVCMOS18 | LOC = Y6;
NET"C" IOSTANDARD = LVCMOS18 | LOC = W7;
NET"F[3]" IOSTANDARD = LVCMOS18 | LOC = R1;
NET"F[2]" IOSTANDARD = LVCMOS18 | LOC = P2;
NET"F[1]" IOSTANDARD = LVCMOS18 | LOC = P1;
NET"F[0]" IOSTANDARD = LVCMOS18 | LOC = N2;
NET"COUT" IOSTANDARD = LVCMOS18 | LOC = M1;



NET"A[3]" PULLDOWN;
NET"A[2]" PULLDOWN;
NET"A[1]" PULLDOWN;
NET"A[0]" PULLDOWN;
NET"B[3]" PULLDOWN;
NET"B[2]" PULLDOWN;
NET"B[1]" PULLDOWN;
NET"B[0]" PULLDOWN;
NET"C" PULLDOWN;
