NET"sw[1]" IOSTANDARD = LVCMOS18 | LOC = T3;
NET"sw[0]" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"rst" IOSTANDARD = LVCMOS18 | LOC = T4;
NET"clk" IOSTANDARD = LVCMOS18 | LOC = H4;

NET"clk_O" IOSTANDARD = LVCMOS18 | LOC = R1;

NET"rst" CLOCK_DEDICATED_ROUTE = FALSE;

NET"sw[1]" PULLDOWN;
NET"sw[0]" PULLDOWN;
NET"rst" PULLDOWN;
