NET"EN" IOSTANDARD = LVCMOS18 | LOC = T3;
NET"S[1]" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"S[0]" IOSTANDARD = LVCMOS18 | LOC = T4;
NET"A[1]" IOSTANDARD = LVCMOS18 | LOC = V3;
NET"A[0]" IOSTANDARD = LVCMOS18 | LOC = V4;
NET"B[1]" IOSTANDARD = LVCMOS18 | LOC = W4;
NET"B[0]" IOSTANDARD = LVCMOS18 | LOC = Y4;
NET"C[1]" IOSTANDARD = LVCMOS18 | LOC = Y6;
NET"C[0]" IOSTANDARD = LVCMOS18 | LOC = W7;
NET"D[1]" IOSTANDARD = LVCMOS18 | LOC = Y8;
NET"D[0]" IOSTANDARD = LVCMOS18 | LOC = Y7;
NET"Y[1]" IOSTANDARD = LVCMOS18 | LOC = R1;
NET"Y[0]" IOSTANDARD = LVCMOS18 | LOC = P2;

NET"EN" PULLDOWN;
NET"S[1]" PULLDOWN;
NET"S[0]" PULLDOWN;
NET"A[1]" PULLDOWN;
NET"A[0]" PULLDOWN;
NET"B[1]" PULLDOWN;
NET"B[0]" PULLDOWN;
NET"C[1]" PULLDOWN;
NET"C[0]" PULLDOWN;
NET"D[1]" PULLDOWN;
NET"D[0]" PULLDOWN;
