NET"pre" IOSTANDARD = LVCMOS18 | LOC = T3;
NET"clr" IOSTANDARD = LVCMOS18 | LOC = U3;
NET"D" IOSTANDARD = LVCMOS18 | LOC = T4;
NET"clk" IOSTANDARD = LVCMOS18 | LOC = R4;

NET"Q" IOSTANDARD = LVCMOS18 | LOC = R1;
NET"QN" IOSTANDARD = LVCMOS18 | LOC = P2;

NET"pre" CLOCK_DEDICATED_ROUTE = FALSE;
NET"clr" CLOCK_DEDICATED_ROUTE = FALSE;

NET"pre" PULLDOWN;
NET"clr" PULLDOWN;
NET"D" PULLDOWN;

